<!-- <nz-affix *ngIf="affix; else content" [offsetTop]="offsetTop">
  <ng-template [ngTemplateOutlet]="content"></ng-template>
</nz-affix> -->

<!-- <ng-template #content> -->
  <div class="ant-anchor-wrapper" [ngStyle]="wrapperStyle">
    <div class="ant-anchor" [ngClass]="{ fixed: !affix && !showInkInFixed }">
    <div class="ant-anchor-ink">
      <div class="ant-anchor-ink-ball" [class.visible]="visible" #ink></div>
    </div>
    <ng-content></ng-content>
    </div>
  </div>
<!-- </ng-template> -->
